/*styles.css*/

@import url('https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Patrick+Hand|Volkhov|Handlee|PT+Serif|Numans|Bitter|Odibee+Sans|Simonetta|Trade+Winds&display=swap');

html,body{
    background-color: lightyellow;
}

.myform{
    margin-top: 1%;
    width: 100%;
    background-color: transparent;
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 30px;
    color: navy;
    padding-bottom: 10px;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 10px 10px 5px silver inset,10px 10px 5px silver;
    border: 3px solid black;
}

.mcontainer{
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: auto;
    margin-right: auto;
    display : block;
    padding: 10px;
    border : 3px solid black;
    align-content: center;
    background-color: rgba(121,12,12,0.4) !important;
    justify-content: center;
    font-family: 'PT Serif';
    
}

.mlabel{
    margin-right: 2%;
    padding-left: 15px;
    font-size: 20px;
    text-align: left;
    font-family: 'Acme';
}

input[type=text]{
    width: 100%;
    margin: auto;
    height: 40px;   
    font-size: 20px; 
    font-family: 'Acme';
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(189, 229, 243);
    padding-left: 5px;
    color: black;
    border-radius: 5px;
}

.myh{
    color:red;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
  }
   
.input-group-prepend span {
    width: 50px;
    background-color: lightskyblue;
    color: black;

    border: 2px solid;
  }

  input[placeholder]{
    text-align: center;
    font-size: 25px;
    color: black;
}

input[type = date]{
    width: 100%;
    margin: auto;
    height: 40px;   
    font-size: 20px; 
    font-family: 'Acme';
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(189, 229, 243);
    padding-left: 5px;
    color: black;
    border-radius: 5px;
}

.mcon
{
    margin-top: 2%;    
}

input[type=submit] {
    margin-top: 8%;
    margin-bottom: 3%;    
    font-family: 'Bree Serif';
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(28, 172, 59);
    padding-left: 5px;
    padding-bottom: 40px;
    font-size: 24px;
    color: black;
    border-radius: 5px;
  }

  input[type=reset] {
    text-align: center;
    font-size: 24px;
    margin-top: 8%;    
    font-family: 'Bree Serif';
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(92, 94, 95);
    padding-left: 5px;
    padding-bottom: 40px;
    color: black;
    border-radius: 5px;
  }

  hr{
    padding-left : 0px;
    height: 120px;
    border: none;;
    background: black;
    margin-bottom: 50px;

}

.foot
{
    margin-top: 1%;
    font-family: trade winds;
}

a{
    color: black;
    text-decoration: none;
    color: orangered;
    font-family: 'Acme';
    font-size: 25px;
}

a:hover{
    text-decoration: none;
    color:green;
}

.login_btn {
    color: black;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Numans';
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }
  
  .login_btn:hover {
    color: whitesmoke;
    background-color:rgb(28, 172, 59);
    box-shadow: 10px 10px 10px black;
  }

  .reset_btn
  {
    color: black;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Numans';
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }

  .reset_btn:hover{
    color: wheat;
    background-color: darkslategray;
    box-shadow: 10px 10px 10px black;
  }

  .reset_btn:after
  {
    color: black;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Numans';
    padding: 5px;
    font-size: 18px;
    width: 100%;
  }